Repository dbaronas/Blockchain-Game: changes, and which GitLab CI jobs are due for each by the changed paths.
All: buildweb, buildserver, deployfront, buildback, deployback

.gitlab-ci.yml:

stages:
  - build_web_stage
  - build_server_stage
  - deploy_frontend_stage
  - build_backend_stage
  - deploy_backend_stage

.base-rules:
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
      changes:
        - frontend-webserver/**/*
      when: always
    - if: '$CI_PIPELINE_SOURCE == "push"'
      when: never
    - if: $CI_COMMIT_TAG
      when: never
.base-rules2:
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
      changes:
        - backend-webserver/**/*
      when: always
    - if: '$CI_PIPELINE_SOURCE == "push"'
      when: never
    - if: $CI_COMMIT_TAG
      when: never

buildweb:
  stage: build_web_stage
  extends: .base-rules
  before_script:
    - cd frontend-webserver
  script:
    - "node --version"
    - npm ci
    - npm run build
  artifacts:
    paths:
      - frontend-webserver/build
  cache:
    paths:
      - frontend-webserver/node_modules/
      - frontend-webserver/package-lock.json
    policy: pull-push
  tags:
    - local_runner


buildserver:
  stage: build_server_stage
  extends: .base-rules
  before_script:
    - cd frontend-webserver/server
  script:
    - "node --version"
    - npm ci
  cache:
    paths:
      - frontend-webserver/server/node_modules/
      - frontend-webserver/server/package-lock.json
    policy: pull-push
  tags:
    - local_runner


deployfront:
  stage: deploy_frontend_stage
  extends: .base-rules
  before_script:
    - cd frontend-webserver/server
  script:
    - "pm2 start ecosystem.config.js"
  cache:
    paths:
      - frontend-webserver/server/node_modules/
      - frontend-webserver/server/package-lock.json
    policy: pull-push
  tags:
    - local_runner


buildback:
  stage: build_backend_stage
  extends: .base-rules2
  before_script:
    - cd backend-webserver
  script:
    - "node --version"
    - npm ci
  cache:
    paths:
      - backend-webserver/node_modules/
      - backend-webserver/package-lock.json
    policy: pull-push
  tags:
    - local-runner2

deployback:
  stage: deploy_backend_stage
  extends: .base-rules2
  before_script:
     - cd backend-webserver
  script:
    - "pm2 start ecosystem.config.js"
  cache:
    paths:
      - backend-webserver/node_modules/
      - backend-webserver/package-lock.json
    policy: pull-push
  tags:
    - local-runner2

fixing game breaking bug
  frontend-webserver/server/server.js
  frontend-webserver/src/game/MainMenu.js
Due: buildweb, buildserver, deployfront

Update index.js
  backend-webserver/app/index.js
Due: buildback, deployback

Multilanguage
  frontend-webserver/src/App.jsx
  frontend-webserver/src/components/Billing.jsx
  frontend-webserver/src/components/Business.jsx
  frontend-webserver/src/components/CTA.jsx
  frontend-webserver/src/components/CardDeal.jsx
  frontend-webserver/src/components/ConnectButton.jsx
  frontend-webserver/src/components/ExploreButton.jsx
  frontend-webserver/src/components/Footer.jsx
  frontend-webserver/src/components/Hero.jsx
  frontend-webserver/src/components/MarketButton.jsx
  frontend-webserver/src/components/Navbar.jsx
  frontend-webserver/src/components/NewsButton.jsx
  frontend-webserver/src/components/PlayNow.jsx
  frontend-webserver/src/components/Stats.jsx
  frontend-webserver/src/components/Testimonials.jsx
  frontend-webserver/src/i18n.js
  frontend-webserver/src/translations/English/translation.json
  frontend-webserver/src/translations/French/translation.json
  frontend-webserver/src/translations/Lithuanian/translation.json
  frontend-webserver/src/translations/Spanish/translation.json
Due: buildweb, buildserver, deployfront

Modules
  frontend-webserver/package-lock.json
  frontend-webserver/package.json
Due: buildweb, buildserver, deployfront

Translation changes
  frontend-webserver/src/translations/English/translation.json
  frontend-webserver/src/translations/French/translation.json
  frontend-webserver/src/translations/Lithuanian/translation.json
  frontend-webserver/src/translations/Spanish/translation.json
Due: buildweb, buildserver, deployfront

French play button size change
  frontend-webserver/src/components/PlayNow.jsx
Due: buildweb, buildserver, deployfront

Update RegisterPopup.jsx
  frontend-webserver/src/components/RegisterPopup.jsx
Due: buildweb, buildserver, deployfront

fixing ajax request
  frontend-webserver/node_modules/.package-lock.json
  frontend-webserver/src/components/RegisterPopup.jsx
Due: buildweb, buildserver, deployfront

ajax request with arrays
  frontend-webserver/src/components/Authentication.jsx
  frontend-webserver/src/components/RegisterPopup.jsx
Due: buildweb, buildserver, deployfront

Update Authentication.jsx
  frontend-webserver/src/components/Authentication.jsx
Due: buildweb, buildserver, deployfront

fixing ajax request
  frontend-webserver/src/components/Authentication.jsx
  frontend-webserver/src/components/RegisterPopup.jsx
Due: buildweb, buildserver, deployfront

Requests
  backend-webserver/app/Database.js
  backend-webserver/routes.js
Due: buildback, deployback

loading player data from database
  frontend-webserver/server/server.js
  frontend-webserver/src/game/BeginningScene.js
  frontend-webserver/src/game/BeginningScene2.js
  frontend-webserver/src/game/MainMenu.js
  frontend-webserver/src/game/TutorialScene.js
Due: buildweb, buildserver, deployfront

ajax request with empty arrays/objects
  frontend-webserver/src/components/Authentication.jsx
  frontend-webserver/src/components/RegisterPopup.jsx
Due: buildweb, buildserver, deployfront

register pop bug fix
  frontend-webserver/src/components/Authentication.jsx
Due: buildweb, buildserver, deployfront

inventory loading from database
  frontend-webserver/server/server.js
  frontend-webserver/src/game/BeginningScene.js
  frontend-webserver/src/game/BeginningScene2.js
Due: buildweb, buildserver, deployfront

fixing mistake
  frontend-webserver/src/game/BeginningScene.js
  frontend-webserver/src/game/BeginningScene2.js
Due: buildweb, buildserver, deployfront

game bug
  frontend-webserver/src/game/CatchModal.js
Due: buildweb, buildserver, deployfront

Update Inventory.js
  frontend-webserver/src/game/Inventory.js
Due: buildweb, buildserver, deployfront

fixing bug with loaded items
  frontend-webserver/src/game/Inventory.js
Due: buildweb, buildserver, deployfront

giving players fishing rod
  backend-webserver/app/Database.js
  frontend-webserver/src/components/RegisterPopup.jsx
Due: buildweb, buildserver, deployfront, buildback, deployback

update
  frontend-webserver/src/components/RegisterPopup.jsx
  frontend-webserver/src/game/Player.js
Due: buildweb, buildserver, deployfront

Restyled register popup
  frontend-webserver/src/components/RegisterPopup.jsx
Due: buildweb, buildserver, deployfront

Updated RegisterPopup.jsx
  frontend-webserver/src/components/RegisterPopup.jsx
Due: buildweb, buildserver, deployfront

Submission of weekly timelogs
  timelogs/Toggl_Track_summary_report_2023-04-17_2023-04-24.pdf
Due: none

Removing react-hooks-global-state and its redundant code parts.
  frontend-webserver/node_modules/.package-lock.json
  frontend-webserver/package-lock.json
  frontend-webserver/package.json
  frontend-webserver/src/pages/index.js
Due: buildweb, buildserver, deployfront

optimizing tutorial
  backend-webserver/app/Database.js
  backend-webserver/server.js
  frontend-webserver/src/game/QuestModal.js
Due: buildweb, buildserver, deployfront, buildback, deployback

Update TutorialScene.js
  frontend-webserver/src/game/TutorialScene.js
Due: buildweb, buildserver, deployfront

fixing errors, player not getting rod
  frontend-webserver/server/server.js
  frontend-webserver/src/game/QuestModal.js
Due: buildweb, buildserver, deployfront

nonce for signing messages
  backend-webserver/app/Database.js
  backend-webserver/models/user.js
  backend-webserver/routes.js
Due: buildback, deployback

bigger nonce
  backend-webserver/app/Database.js
Due: buildback, deployback

Update Database.js
  backend-webserver/app/Database.js
Due: buildback, deployback
