Repository dbaronas/Blockchain-Game: changes, and which GitLab CI jobs are due for each by the changed paths.
All: buildweb, buildserver, deployfront, buildback, deployback

.gitlab-ci.yml:

stages:
  - build_web_stage
  - build_server_stage
  - deploy_frontend_stage
  - build_backend_stage
  - deploy_backend_stage

.base-rules:
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
      changes:
        - frontend-webserver/**/*
      when: always
    - if: '$CI_PIPELINE_SOURCE == "push"'
      when: never
    - if: $CI_COMMIT_TAG
      when: never
.base-rules2:
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
      changes:
        - backend-webserver/**/*
      when: always
    - if: '$CI_PIPELINE_SOURCE == "push"'
      when: never
    - if: $CI_COMMIT_TAG
      when: never

buildweb:
  stage: build_web_stage
  extends: .base-rules
  before_script:
    - cd frontend-webserver
  script:
    - "node --version"
    - npm ci
    - npm run build
  artifacts:
    paths:
      - frontend-webserver/build
  cache:
    paths:
      - frontend-webserver/node_modules/
      - frontend-webserver/package-lock.json
    policy: pull-push
  tags:
    - local_runner


buildserver:
  stage: build_server_stage
  extends: .base-rules
  before_script:
    - cd frontend-webserver/server
  script:
    - "node --version"
    - npm ci
  cache:
    paths:
      - frontend-webserver/server/node_modules/
      - frontend-webserver/server/package-lock.json
    policy: pull-push
  tags:
    - local_runner


deployfront:
  stage: deploy_frontend_stage
  extends: .base-rules
  before_script:
    - cd frontend-webserver/server
  script:
    - "pm2 start ecosystem.config.js"
  cache:
    paths:
      - frontend-webserver/server/node_modules/
      - frontend-webserver/server/package-lock.json
    policy: pull-push
  tags:
    - local_runner


buildback:
  stage: build_backend_stage
  extends: .base-rules2
  before_script:
    - cd backend-webserver
  script:
    - "node --version"
    - npm ci
  cache:
    paths:
      - backend-webserver/node_modules/
      - backend-webserver/package-lock.json
    policy: pull-push
  tags:
    - local-runner2

deployback:
  stage: deploy_backend_stage
  extends: .base-rules2
  before_script:
     - cd backend-webserver
  script:
    - "pm2 start ecosystem.config.js"
  cache:
    paths:
      - backend-webserver/node_modules/
      - backend-webserver/package-lock.json
    policy: pull-push
  tags:
    - local-runner2

reworking player data saving
  backend-webserver/app/Database.js
  backend-webserver/app/ERC721.js
  backend-webserver/middleware/verifyMessage.js
  backend-webserver/models/index.js
  backend-webserver/models/island.js
  backend-webserver/models/item.js
  backend-webserver/models/player_inventory.js
  backend-webserver/models/player_island.js
  backend-webserver/models/user.js
Due: buildback, deployback

Update index.js
  backend-webserver/models/index.js
Due: buildback, deployback

fixing typo
  backend-webserver/app/Database.js
  backend-webserver/models/index.js
  backend-webserver/models/player_island.js
Due: buildback, deployback

working with relationships
  backend-webserver/app/Database.js
  backend-webserver/models/player_island.js
Due: buildback, deployback

Update Database.js
  backend-webserver/app/Database.js
Due: buildback, deployback

testing
  backend-webserver/app/Database.js
Due: buildback, deployback

testing
  backend-webserver/models/index.js
Due: buildback, deployback

testing
  backend-webserver/app/Database.js
  backend-webserver/models/index.js
Due: buildback, deployback

finishing up island loading
  backend-webserver/app/Database.js
Due: buildback, deployback

changes
  backend-webserver/game/gameitems/NFTs/metadata/fr_1.json
  backend-webserver/game/gameitems/NFTs/metadata/fr_2.json
  backend-webserver/game/gameitems/NFTs/metadata/fr_3.json
  backend-webserver/game/gameitems/NFTs/metadata/fr_4.json
  backend-webserver/models/item.js
  backend-webserver/models/player_island.js
Due: buildback, deployback

Update RegisterPopup.jsx
  frontend-webserver/src/components/RegisterPopup.jsx
Due: buildweb, buildserver, deployfront

Leveling bug fix
  frontend-webserver/server/server.js
  frontend-webserver/src/game/BeginningScene.js
  frontend-webserver/src/game/BeginningScene2.js
Due: buildweb, buildserver, deployfront

reworking inventory
  backend-webserver/app/Database.js
  frontend-webserver/src/components/RegisterPopup.jsx
Due: buildweb, buildserver, deployfront, buildback, deployback

testing
  backend-webserver/app/Database.js
  frontend-webserver/src/components/RegisterPopup.jsx
Due: buildweb, buildserver, deployfront, buildback, deployback

reworked player data loading
  backend-webserver/app/Database.js
Due: buildback, deployback

player data saving
  backend-webserver/app/Database.js
Due: buildback, deployback

player stats in database rework
  backend-webserver/app/Database.js
  backend-webserver/models/index.js
  backend-webserver/models/player_stats.js
  backend-webserver/models/stat.js
  frontend-webserver/src/components/RegisterPopup.jsx
Due: buildweb, buildserver, deployfront, buildback, deployback

finishing up database rework
  backend-webserver/app/Database.js
Due: buildback, deployback

reworking player data loading
  frontend-webserver/server/server.js
  frontend-webserver/src/game/BeginningScene.js
  frontend-webserver/src/game/BeginningScene2.js
  frontend-webserver/src/game/Inventory.js
  frontend-webserver/src/game/InventoryScene.js
  frontend-webserver/src/game/ShopScene.js
Due: buildweb, buildserver, deployfront

Stat loading changes
  frontend-webserver/server/server.js
  frontend-webserver/src/game/BeginningScene.js
  frontend-webserver/src/game/BeginningScene2.js
  frontend-webserver/src/game/Player.js
Due: buildweb, buildserver, deployfront

fixing some bugs
  frontend-webserver/server/server.js
  frontend-webserver/src/game/BeginningScene.js
  frontend-webserver/src/game/BeginningScene2.js
  frontend-webserver/src/game/Inventory.js
  frontend-webserver/src/game/InventoryScene.js
  frontend-webserver/src/game/ShopScene.js
Due: buildweb, buildserver, deployfront

item saving
  frontend-webserver/src/game/BeginningScene.js
  frontend-webserver/src/game/BeginningScene2.js
  frontend-webserver/src/game/FishingRods.js
  frontend-webserver/src/game/Items.js
Due: buildweb, buildserver, deployfront

fixing bug
  frontend-webserver/src/game/BeginningScene.js
  frontend-webserver/src/game/BeginningScene2.js
Due: buildweb, buildserver, deployfront

fixing inventory bug
  frontend-webserver/src/components/RegisterPopup.jsx
  frontend-webserver/src/game/BeginningScene.js
  frontend-webserver/src/game/BeginningScene2.js
Due: buildweb, buildserver, deployfront

bug fix
  frontend-webserver/server/server.js
  frontend-webserver/src/game/Player.js
Due: buildweb, buildserver, deployfront

bug fix test
  frontend-webserver/server/server.js
Due: buildweb, buildserver, deployfront
