Repository dbaronas/Blockchain-Game: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, deploy, build2, deploy2

build:
  stage: build_stage
  cache:
    key:
      files:
      - package-lock.json
      prefix: npm
    paths:
    - node_modules/
  before_script:
  - cd frontend-webserver
  script:
  - node --version
  - npm i
  - npm run build
  tags:
  - local_runner

deploy:
  stage: deploy_stage
  before_script:
  - cd frontend-webserver/server
  script:
  - npm i
  - pm2 start ecosystem.config.js
  cache:
    key: $CI_COMMIT_REF_SLUG
    policy: pull
    paths:
    - node_modules/
    - package-lock.json
  tags:
  - local_runner

build2:
  stage: build_stage2
  before_script:
  - cd backend-webserver
  script:
  - node --version
  - npm i
  cache:
    key: $CI_COMMIT_REF_SLUG
    policy: push
    paths:
    - node_modules/
    - package-lock.json
  tags:
  - local-runner2

deploy2:
  stage: deploy_stage2
  before_script:
  - cd backend-webserver
  script:
  - pm2 start ecosystem.config.js
  cache:
    key: $CI_COMMIT_REF_SLUG
    policy: pull
    paths:
    - node_modules/
    - package-lock.json
  tags:
  - local-runner2

hero page asset
  frontend-webserver/src/assets/robot.png
Due: none

Player inventory updates, drag and drop item functionality
  frontend-webserver/public/game/assets/items.png
  frontend-webserver/public/game/js/BeginningScene.js
  frontend-webserver/public/game/js/Inventory.js
  frontend-webserver/public/game/js/InventoryScene.js
  frontend-webserver/public/game/js/Items.js
  frontend-webserver/public/game/js/Player.js
  frontend-webserver/public/game/js/TutorialScene.js
  frontend-webserver/public/game/js/game.js
Due: none

Image update
  frontend-webserver/src/assets/people01.png
  frontend-webserver/src/assets/people02.png
Due: none

website styling
  frontend-webserver/src/components/Testimonials.jsx
  frontend-webserver/src/constants/index.js
Due: none

routes
  frontend-webserver/src/components/Navbar.jsx
  frontend-webserver/src/constants/index.js
Due: none

updated 3d graphics of website
  frontend-webserver/src/assets/index.js
  frontend-webserver/src/assets/robot.svg
Due: none

hero page
  frontend-webserver/src/assets/robot.svg
Due: none

fixing error
  frontend-webserver/src/components/Navbar.jsx
Due: none

updating logo size
  frontend-webserver/src/components/Navbar.jsx
Due: none

Submission of meeting notes
  meetings/Meeting_2023-03-12.pdf
Due: none

Submission of weekly timelogs
  timelogs/Toggl_Track_summary_report_2023-03-06_2023-03-13.pdf
Due: none

nft minting/getting owner of nft
  backend-webserver/.env
  backend-webserver/ABI/PoseidonNFT.json
  backend-webserver/app/ERC1155.js
  backend-webserver/app/ERC721.js
  backend-webserver/app/Game.js
  backend-webserver/app/index.js
  backend-webserver/game/gameitems/SFTs/item/fr_1.png
  backend-webserver/game/gameitems/SFTs/metadata/fr_1.json
  backend-webserver/routes.js
  backend-webserver/server.js
Due: build2, deploy2

cleaning up
  backend-webserver/gameitems/NFTs/item/fishing_rod.png
  backend-webserver/gameitems/NFTs/metadata/fishing_rod.json
Due: none

correcting mistakes
  backend-webserver/routes.js
Due: build2, deploy2

website building/styling
  frontend-webserver/index.html
  frontend-webserver/public/mologo.png
  frontend-webserver/public/vite.svg
  frontend-webserver/src/assets/people03.png
  frontend-webserver/src/assets/robot.png
  frontend-webserver/src/components/Game.jsx
  frontend-webserver/src/components/GetStarted.jsx
  frontend-webserver/src/components/Hero.jsx
  frontend-webserver/src/components/Navbar.jsx
  frontend-webserver/src/components/PlayNow.jsx
  frontend-webserver/src/components/Stats.jsx
  frontend-webserver/src/constants/index.js
  frontend-webserver/src/main.jsx
  frontend-webserver/src/styles.css
Due: build, deploy

title icon
  frontend-webserver/index.html
  frontend-webserver/public/mologo.ico
  frontend-webserver/public/mologo.png
Due: build, deploy

trying to fix old website loading during the build
  frontend-webserver/build/index.html
  frontend-webserver/index.html
Due: build, deploy

updated graphics
  frontend-webserver/src/assets/robot.svg
Due: none

fixing bug
  frontend-webserver/src/assets/robot.svg
Due: none

Update robot.svg
  frontend-webserver/src/assets/robot.svg
Due: none

Update .env
  backend-webserver/.env
Due: build2, deploy2

Player inventory updates, item selection, item drag and drop functionalities
  frontend-webserver/public/game/js/BeginningScene.js
  frontend-webserver/public/game/js/Inventory.js
  frontend-webserver/public/game/js/InventoryScene.js
  frontend-webserver/public/game/js/Item.js
  frontend-webserver/public/game/js/Player.js
  frontend-webserver/public/game/js/PlayerInventory.js
  frontend-webserver/public/game/js/SelectedItem.js
Due: none

Website design changes
  frontend-webserver/src/App.jsx
  frontend-webserver/src/assets/Send.svg
  frontend-webserver/src/assets/Shield.svg
  frontend-webserver/src/assets/Star.svg
  frontend-webserver/src/assets/bill.png
  frontend-webserver/src/assets/index.js
  frontend-webserver/src/assets/quotes.svg
  frontend-webserver/src/assets/robot.png
  frontend-webserver/src/components/Billing.jsx
  frontend-webserver/src/components/Business.jsx
  frontend-webserver/src/components/CTA.jsx
  frontend-webserver/src/components/CardDeal.jsx
  frontend-webserver/src/components/ExploreButton.jsx
  frontend-webserver/src/components/FeedbackCard.jsx
  frontend-webserver/src/components/Footer.jsx
  frontend-webserver/src/components/Hero.jsx
  frontend-webserver/src/components/MarketButton.jsx
  frontend-webserver/src/components/Navbar.jsx
  frontend-webserver/src/components/NewsButton.jsx
  frontend-webserver/src/constants/index.js
Due: none

assets
  frontend-webserver/public/assets/MasterSimple.png
  frontend-webserver/public/assets/RPG Nature Tileset.png
  frontend-webserver/public/assets/bateman/bateman.png
  frontend-webserver/public/assets/bateman/bateman_anim.json
  frontend-webserver/public/assets/bateman/bateman_atlas.json
  frontend-webserver/public/assets/boy.png
  frontend-webserver/public/assets/boy_anim.json
  frontend-webserver/public/assets/boy_atlas.json
  frontend-webserver/public/assets/button.png
  frontend-webserver/public/assets/fisherman/fisherman.png
  frontend-webserver/public/assets/fisherman/fisherman_anim.json
  frontend-webserver/public/assets/fisherman/fisherman_atlas.json
  frontend-webserver/public/assets/fishes/bass.png
  frontend-webserver/public/assets/fishes/pike.png
  frontend-webserver/public/assets/fishes/pufferfish.png
  frontend-webserver/public/assets/fishes/salmon.png
  frontend-webserver/public/assets/items.png
  frontend-webserver/public/assets/map.json
  frontend-webserver/public/assets/map2.json
  frontend-webserver/public/assets/map3.json
  frontend-webserver/public/assets/modal.png
  frontend-webserver/public/assets/rembo/rembo.png
  frontend-webserver/public/assets/rembo/rembo_anim.json
  frontend-webserver/public/assets/rembo/rembo_atlas.json
  frontend-webserver/public/assets/sajan/sajan.png
  frontend-webserver/public/assets/sajan/sajan_anim.json
  frontend-webserver/public/assets/sajan/sajan_atlas.json
  frontend-webserver/public/assets/starter_fishing_rod.png
  frontend-webserver/public/assets/tiledmap.json
  frontend-webserver/public/assets/tileset.png
Due: none

Selected item emits and broadcasts, asset updates
  frontend-webserver/public/assets/RPG Nature Tileset.png
  frontend-webserver/public/assets/boy.png
  frontend-webserver/public/assets/boy_anim.json
  frontend-webserver/public/assets/boy_atlas.json
  frontend-webserver/server/server.js
  frontend-webserver/src/game/BeginningScene.js
  frontend-webserver/src/game/Player.js
  frontend-webserver/src/game/SelectedItem.js
  frontend-webserver/src/game/game.js
Due: none

Fixed game rendering in React
  frontend-webserver/package-lock.json
  frontend-webserver/package.json
  frontend-webserver/server/server.js
  frontend-webserver/src/App.jsx
  frontend-webserver/src/game/BeginningScene.js
  frontend-webserver/src/game/CatchModal.js
  frontend-webserver/src/game/Player.js
  frontend-webserver/src/game/SelectedItem.js
  frontend-webserver/src/game/game.js
  frontend-webserver/src/pages/Game.jsx
  frontend-webserver/src/pages/Main.jsx
Due: build, deploy

fixing game with react
  frontend-webserver/index.html
  frontend-webserver/node_modules/.package-lock.json
  frontend-webserver/package-lock.json
  frontend-webserver/package.json
  frontend-webserver/public/game/assets/MasterSimple.png
  frontend-webserver/public/game/assets/bateman/bateman.png
  frontend-webserver/public/game/assets/bateman/bateman_anim.json
  frontend-webserver/public/game/assets/bateman/bateman_atlas.json
  frontend-webserver/public/game/assets/button.png
  frontend-webserver/public/game/assets/fisherman/fisherman.png
  frontend-webserver/public/game/assets/fisherman/fisherman_anim.json
  frontend-webserver/public/game/assets/fisherman/fisherman_atlas.json
  frontend-webserver/public/game/assets/fishes/bass.png
  frontend-webserver/public/game/assets/fishes/pike.png
  frontend-webserver/public/game/assets/fishes/pufferfish.png
  frontend-webserver/public/game/assets/fishes/salmon.png
  frontend-webserver/public/game/assets/items.png
  frontend-webserver/public/game/assets/map.json
  frontend-webserver/public/game/assets/map2.json
  frontend-webserver/public/game/assets/map3.json
  frontend-webserver/public/game/assets/modal.png
  frontend-webserver/public/game/assets/rembo/rembo.png
  frontend-webserver/public/game/assets/rembo/rembo_anim.json
  frontend-webserver/public/game/assets/rembo/rembo_atlas.json
  frontend-webserver/public/game/assets/sajan/sajan.png
  frontend-webserver/public/game/assets/sajan/sajan_anim.json
  frontend-webserver/public/game/assets/sajan/sajan_atlas.json
  frontend-webserver/public/game/assets/starter_fishing_rod.png
  frontend-webserver/public/game/assets/tiledmap.json
  frontend-webserver/public/game/assets/tileset.png
  frontend-webserver/server/server.js
  frontend-webserver/src/game/game.js
  frontend-webserver/src/pages/Game.jsx
Due: build, deploy

improvements
  frontend-webserver/src/App.jsx
  frontend-webserver/src/components/Billing.jsx
  frontend-webserver/src/components/Business.jsx
  frontend-webserver/src/components/Button.jsx
  frontend-webserver/src/components/CTA.jsx
  frontend-webserver/src/components/CardDeal.jsx
  frontend-webserver/src/components/Clients.jsx
  frontend-webserver/src/components/ExploreButton.jsx
  frontend-webserver/src/components/FeedbackCard.jsx
  frontend-webserver/src/components/Footer.jsx
  frontend-webserver/src/components/Game.jsx
  frontend-webserver/src/components/GetStarted.jsx
  frontend-webserver/src/components/MarketButton.jsx
  frontend-webserver/src/components/NewsButton.jsx
  frontend-webserver/src/components/ShopButton.jsx
  frontend-webserver/src/components/Stats.jsx
  frontend-webserver/src/components/Testimonials.jsx
  frontend-webserver/src/pages/index.js
Due: none

modal pop up animation
  frontend-webserver/src/game/CatchModal.js
Due: none

testing post request from game + nfts
  backend-webserver/app/ERC721.js
  frontend-webserver/public/game/assets/fishing_rods/fr_1.png
  frontend-webserver/public/game/assets/fishing_rods/fr_2.png
  frontend-webserver/public/game/assets/fishing_rods/fr_3.png
  frontend-webserver/public/game/assets/fishing_rods/fr_4.png
Due: none

Socket.io updates
  frontend-webserver/server/server.js
  frontend-webserver/src/game/BeginningScene.js
  frontend-webserver/src/game/Player.js
  frontend-webserver/src/game/SelectedItem.js
Due: none

added cors to enable api calls with ajax
  backend-webserver/package-lock.json
  backend-webserver/package.json
  backend-webserver/server.js
Due: build2, deploy2

minting from the game
  backend-webserver/app/ERC721.js
Due: none

Path conditions:
  build: any of: frontend-webserver/*
  deploy: any of: frontend-webserver/*
  build2: any of: backend-webserver/*
  deploy2: any of: backend-webserver/*
