Repository dbaronas/Blockchain-Game: changes, and which GitLab CI jobs are due for each by the changed paths.
All: buildweb, buildserver, deployfront, buildback, deployback

buildweb:
  stage: build_web_stage
  before_script:
  - cd frontend-webserver
  script:
  - node --version
  - npm ci --cache .npm
  - npm run build
  artifacts:
    paths:
    - frontend-webserver/build
  cache:
    paths:
    - .npm
    policy: pull-push
  tags:
  - local_runner

buildserver:
  stage: build_server_stage
  before_script:
  - cd frontend-webserver/server
  script:
  - node --version
  - npm ci --cache .npm
  cache:
    paths:
    - .npm
    policy: pull-push
  tags:
  - local_runner

deployfront:
  stage: deploy_frontend_stage
  before_script:
  - cd frontend-webserver/server
  script:
  - pm2 start ecosystem.config.js
  tags:
  - local_runner

buildback:
  stage: build_backend_stage
  before_script:
  - cd backend-webserver
  script:
  - node --version
  - npm ci --cache .npm
  cache:
    paths:
    - .npm
    policy: pull-push
  tags:
  - local-runner2

deployback:
  stage: deploy_backend_stage
  before_script:
  - cd backend-webserver
  script:
  - pm2 start ecosystem.config.js
  tags:
  - local-runner2

reverting changes
  .gitlab-ci.yml
Due: none

Update .gitlab-ci.yml
  .gitlab-ci.yml
Due: none

testing caching
  .gitlab-ci.yml
Due: none

test
  .gitlab-ci.yml
Due: none

Added request with ajax to validate username and adjusted rendering of messages
  frontend-webserver/src/components/ConnectButton.jsx
  frontend-webserver/src/components/RegisterPopup.jsx
  frontend-webserver/src/pages/Authentication.jsx
Due: buildweb, buildserver, deployfront

deleting modules
  frontend-webserver/node_modules/.package-lock.json
  frontend-webserver/package-lock.json
  frontend-webserver/package.json
Due: buildweb, buildserver, deployfront

fixing chat wordwrapping
  frontend-webserver/src/game/ChatScene.js
Due: buildweb, buildserver, deployfront

fixing cookie
  backend-webserver/app/Auth.js
Due: buildback, deployback

protecting routes
  backend-webserver/server.js
  frontend-webserver/node_modules/.package-lock.json
  frontend-webserver/package-lock.json
  frontend-webserver/package.json
  frontend-webserver/src/App.jsx
  frontend-webserver/src/components/RouteGuard.jsx
  frontend-webserver/src/components/index.js
Due: buildweb, buildserver, deployfront, buildback, deployback

Update App.jsx
  frontend-webserver/src/App.jsx
Due: buildweb, buildserver, deployfront

Update Auth.js
  backend-webserver/app/Auth.js
Due: buildback, deployback

Update server.js
  backend-webserver/server.js
Due: buildback, deployback

fixing modal not working in multiple scenes
  frontend-webserver/src/game/BeginningScene.js
  frontend-webserver/src/game/BeginningScene2.js
  frontend-webserver/src/game/CatchModal.js
Due: buildweb, buildserver, deployfront

not loading game on mobile devices
  frontend-webserver/node_modules/.package-lock.json
  frontend-webserver/package-lock.json
  frontend-webserver/package.json
  frontend-webserver/src/pages/Game.jsx
Due: buildweb, buildserver, deployfront

fixing navigation on mobile
  frontend-webserver/src/components/Navbar.jsx
Due: buildweb, buildserver, deployfront

Fixing scene start
  frontend-webserver/src/game/MainMenu.js
Due: buildweb, buildserver, deployfront

Quest modal and tutorial scene updates
  frontend-webserver/public/game/assets/pork.mp3
  frontend-webserver/public/game/assets/quest7.png
  frontend-webserver/src/game/QuestModal.js
  frontend-webserver/src/game/TutorialScene.js
Due: buildweb, buildserver, deployfront

protecting routes
  frontend-webserver/src/App.jsx
  frontend-webserver/src/components/RouteGuard.jsx
  frontend-webserver/src/pages/Authentication.jsx
Due: buildweb, buildserver, deployfront

fixing some bugs
  frontend-webserver/src/game/BeginningScene2.js
  frontend-webserver/src/game/CatchModal.js
Due: buildweb, buildserver, deployfront

Update BeginningScene2.js
  frontend-webserver/src/game/BeginningScene2.js
Due: buildweb, buildserver, deployfront

buttons
  frontend-webserver/src/components/MarketButton.jsx
  frontend-webserver/src/components/NewsButton.jsx
Due: buildweb, buildserver, deployfront

fixing bug
  frontend-webserver/src/components/MarketButton.jsx
  frontend-webserver/src/components/NewsButton.jsx
Due: buildweb, buildserver, deployfront

fixing bugs
  frontend-webserver/src/components/CTA.jsx
  frontend-webserver/src/components/CardDeal.jsx
  frontend-webserver/src/components/MarketButton.jsx
  frontend-webserver/src/components/NewsButton.jsx
Due: buildweb, buildserver, deployfront

Submission of timelogs
  timelogs/Toggl_Track_summary_report_2023-04-10_2023-04-17.pdf
Due: none

Submission of meeting notes
  meetings/Meeting_2023-04-26.pdf
Due: none

login page auto redirect
  frontend-webserver/src/App.jsx
  frontend-webserver/src/assets/index.js
  frontend-webserver/src/assets/login.png
  frontend-webserver/src/components/RouteGuard.jsx
  frontend-webserver/src/pages/Login.jsx
  frontend-webserver/src/pages/index.js
Due: buildweb, buildserver, deployfront

Update server.js
  frontend-webserver/server/server.js
Due: buildweb, buildserver, deployfront

fixing bugs
  frontend-webserver/src/App.jsx
  frontend-webserver/src/components/Authentication.jsx
  frontend-webserver/src/components/Navbar.jsx
  frontend-webserver/src/pages/Login.jsx
Due: buildweb, buildserver, deployfront

few bug fixes
  frontend-webserver/src/components/Authentication.jsx
Due: buildweb, buildserver, deployfront

removing jwt stuff
  backend-webserver/app/Auth.js
  backend-webserver/app/Database.js
  backend-webserver/routes.js
  frontend-webserver/src/game/MainMenu.js
Due: buildweb, buildserver, deployfront, buildback, deployback

recoding game without jwt
  frontend-webserver/server/server.js
  frontend-webserver/src/game/MainMenu.js
Due: buildweb, buildserver, deployfront

fixing bug
  frontend-webserver/server/.env
  frontend-webserver/server/server.js
Due: buildweb, buildserver, deployfront

Path conditions:
  buildweb: any of: frontend-webserver/**/*
  buildserver: any of: frontend-webserver/**/*
  deployfront: any of: frontend-webserver/**/*
  buildback: any of: backend-webserver/**/*
  deployback: any of: backend-webserver/**/*
