Repository dbaronas/Blockchain-Game: changes, and which GitLab CI jobs are due for each by the changed paths.
All: buildweb, buildserver, deployfront, buildback, deployback

.gitlab-ci.yml:

stages:
  - build_web_stage
  - build_server_stage
  - deploy_frontend_stage
  - build_backend_stage
  - deploy_backend_stage

.base-rules:
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
      changes:
        - frontend-webserver/**/*
      when: always
    - if: '$CI_PIPELINE_SOURCE == "push"'
      when: never
    - if: $CI_COMMIT_TAG
      when: never
.base-rules2:
  rules:
    - if: '$CI_COMMIT_BRANCH == "master"'
      changes:
        - backend-webserver/**/*
      when: always
    - if: '$CI_PIPELINE_SOURCE == "push"'
      when: never
    - if: $CI_COMMIT_TAG
      when: never

buildweb:
  stage: build_web_stage
  extends: .base-rules
  before_script:
    - cd frontend-webserver
  script:
    - "node --version"
    - npm ci
    - npm run build
  artifacts:
    paths:
      - frontend-webserver/build
  cache:
    paths:
      - frontend-webserver/node_modules/
      - frontend-webserver/package-lock.json
    policy: pull-push
  tags:
    - local_runner


buildserver:
  stage: build_server_stage
  extends: .base-rules
  before_script:
    - cd frontend-webserver/server
  script:
    - "node --version"
    - npm ci
  cache:
    paths:
      - frontend-webserver/server/node_modules/
      - frontend-webserver/server/package-lock.json
    policy: pull-push
  tags:
    - local_runner


deployfront:
  stage: deploy_frontend_stage
  extends: .base-rules
  before_script:
    - cd frontend-webserver/server
  script:
    - "pm2 start ecosystem.config.js"
  cache:
    paths:
      - frontend-webserver/server/node_modules/
      - frontend-webserver/server/package-lock.json
    policy: pull-push
  tags:
    - local_runner


buildback:
  stage: build_backend_stage
  extends: .base-rules2
  before_script:
    - cd backend-webserver
  script:
    - "node --version"
    - npm ci
  cache:
    paths:
      - backend-webserver/node_modules/
      - backend-webserver/package-lock.json
    policy: pull-push
  tags:
    - local-runner2

deployback:
  stage: deploy_backend_stage
  extends: .base-rules2
  before_script:
     - cd backend-webserver
  script:
    - "pm2 start ecosystem.config.js"
  cache:
    paths:
      - backend-webserver/node_modules/
      - backend-webserver/package-lock.json
    policy: pull-push
  tags:
    - local-runner2

fixing island now saving
  backend-webserver/app/Database.js
Due: buildback, deployback

testing possible bug fix
  backend-webserver/app/Database.js
Due: buildback, deployback

lootpool in backend
  backend-webserver/app/Database.js
  backend-webserver/app/ERC721.js
  backend-webserver/models/item.js
  backend-webserver/routes.js
Due: buildback, deployback

fixing bug
  frontend-webserver/src/game/BeginningScene.js
  frontend-webserver/src/game/BeginningScene2.js
  frontend-webserver/src/game/CatchModal.js
Due: buildweb, buildserver, deployfront

testing whats crashing the game
  frontend-webserver/src/game/CatchModal.js
Due: buildweb, buildserver, deployfront

Update user.js
  backend-webserver/models/user.js
Due: buildback, deployback

Update Database.js
  backend-webserver/app/Database.js
Due: buildback, deployback

Update CatchModal.js
  frontend-webserver/src/game/CatchModal.js
Due: buildweb, buildserver, deployfront

possible bug fix
  frontend-webserver/src/game/CatchModal.js
Due: buildweb, buildserver, deployfront

Using lootpool item selection in the game
  frontend-webserver/server/server.js
  frontend-webserver/src/game/BeginningScene.js
  frontend-webserver/src/game/BeginningScene2.js
Due: buildweb, buildserver, deployfront

Module
  frontend-webserver/package-lock.json
  frontend-webserver/package.json
Due: buildweb, buildserver, deployfront

seperating island item pools
  backend-webserver/app/Database.js
  backend-webserver/models/item.js
  backend-webserver/routes.js
Due: buildback, deployback

LootPool changes, fishing speed
  frontend-webserver/server/server.js
  frontend-webserver/src/game/BeginningScene.js
  frontend-webserver/src/game/BeginningScene2.js
  frontend-webserver/src/game/CatchModal.js
Due: buildweb, buildserver, deployfront

Module
  frontend-webserver/server/package-lock.json
  frontend-webserver/server/package.json
Due: buildweb, buildserver, deployfront

module
  frontend-webserver/package-lock.json
  frontend-webserver/package.json
Due: buildweb, buildserver, deployfront

Testing loot pool
  frontend-webserver/src/game/BeginningScene.js
  frontend-webserver/src/game/BeginningScene2.js
Due: buildweb, buildserver, deployfront

Bug fix
  frontend-webserver/src/game/BeginningScene.js
  frontend-webserver/src/game/BeginningScene2.js
Due: buildweb, buildserver, deployfront

Testing
  frontend-webserver/src/game/CatchModal.js
Due: buildweb, buildserver, deployfront

Checking for error
  frontend-webserver/src/game/CatchModal.js
Due: buildweb, buildserver, deployfront

fix
  frontend-webserver/src/game/CatchModal.js
Due: buildweb, buildserver, deployfront

Fishing speed from rods
  frontend-webserver/src/game/BeginningScene.js
  frontend-webserver/src/game/BeginningScene2.js
  frontend-webserver/src/game/InventoryScene.js
Due: buildweb, buildserver, deployfront

test
  frontend-webserver/src/game/InventoryScene.js
Due: buildweb, buildserver, deployfront

testing
  frontend-webserver/src/game/InventoryScene.js
Due: buildweb, buildserver, deployfront

testing
  frontend-webserver/src/game/BeginningScene.js
  frontend-webserver/src/game/InventoryScene.js
Due: buildweb, buildserver, deployfront

testing player stats and why fishing speed disappears
  frontend-webserver/src/game/BeginningScene.js
Due: buildweb, buildserver, deployfront

blockchain changes
  backend-webserver/.env
  backend-webserver/ABI/PoseidonMarket.json
  backend-webserver/ABI/PoseidonNFT.json
  backend-webserver/app/ERC721.js
  backend-webserver/app/Marketplace.js
  backend-webserver/routes.js
Due: buildback, deployback

updated contract
  blockchain/contracts/PoseidonNFT.sol
Due: none

update
  backend-webserver/app/ERC721.js
  backend-webserver/routes.js
Due: buildback, deployback

testing resposive design for phaser
  frontend-webserver/src/game/game.js
Due: buildweb, buildserver, deployfront

Revert "testing resposive design for phaser"
  frontend-webserver/src/game/game.js
Due: buildweb, buildserver, deployfront

Submission of meeting notes
  meetings/Meeting 2023-05-23.pdf
Due: none

Submission of weekly timelogs
  timelogs/Toggl_Track_summary_report_2023-05-08_2023-05-15.pdf
Due: none

universal function for getting token uri
  backend-webserver/app/ERC721.js
Due: buildback, deployback

fixing game bug
  backend-webserver/.gitignore
  frontend-webserver/src/game/BeginningScene.js
  frontend-webserver/src/game/BeginningScene2.js
Due: buildweb, buildserver, deployfront, buildback, deployback

fixing typo in footer, clickable logo
  frontend-webserver/src/components/Footer.jsx
  frontend-webserver/src/components/Logo.jsx
Due: buildweb, buildserver, deployfront

fixing loot table not working with many items
  frontend-webserver/server/package-lock.json
  frontend-webserver/server/package.json
  frontend-webserver/server/server.js
Due: buildweb, buildserver, deployfront
