Repository dbaronas/Blockchain-Game: changes, and which GitLab CI jobs are due for each by the changed paths.
All: buildweb, buildserver, deployfront, buildback, deployback

buildweb:
  stage: build_web_stage
  before_script:
  - cd frontend-webserver
  script:
  - node --version
  - npm ci
  - npm run build
  artifacts:
    paths:
    - frontend-webserver/build
  cache:
    paths:
    - frontend-webserver/node_modules/
    - frontend-webserver/package-lock.json
    policy: pull-push
  tags:
  - local_runner

buildserver:
  stage: build_server_stage
  before_script:
  - cd frontend-webserver/server
  script:
  - node --version
  - npm ci
  cache:
    paths:
    - frontend-webserver/server/node_modules/
    - frontend-webserver/server/package-lock.json
    policy: pull-push
  tags:
  - local_runner

deployfront:
  stage: deploy_frontend_stage
  before_script:
  - cd frontend-webserver/server
  script:
  - pm2 start ecosystem.config.js
  cache:
    paths:
    - frontend-webserver/server/node_modules/
    - frontend-webserver/server/package-lock.json
    policy: pull-push
  tags:
  - local_runner

buildback:
  stage: build_backend_stage
  before_script:
  - cd backend-webserver
  script:
  - node --version
  - npm ci
  cache:
    paths:
    - backend-webserver/node_modules/
    - backend-webserver/package-lock.json
    policy: pull-push
  tags:
  - local-runner2

deployback:
  stage: deploy_backend_stage
  before_script:
  - cd backend-webserver
  script:
  - pm2 start ecosystem.config.js
  cache:
    paths:
    - backend-webserver/node_modules/
    - backend-webserver/package-lock.json
    policy: pull-push
  tags:
  - local-runner2

small bug fix
  frontend-webserver/server/server.js
Due: buildweb, buildserver, deployfront

Update server.js
  frontend-webserver/server/server.js
Due: buildweb, buildserver, deployfront

module
  frontend-webserver/server/package-lock.json
  frontend-webserver/server/package.json
Due: buildweb, buildserver, deployfront

Few tutorial fixes
  frontend-webserver/src/game/TutorialScene.js
Due: buildweb, buildserver, deployfront

bug fix
  frontend-webserver/src/game/Player.js
Due: buildweb, buildserver, deployfront

ShopScene changes
  frontend-webserver/src/game/ShopScene.js
Due: buildweb, buildserver, deployfront

fix
  frontend-webserver/src/game/ShopScene.js
Due: buildweb, buildserver, deployfront

test
  frontend-webserver/src/game/ShopScene.js
Due: buildweb, buildserver, deployfront

bug fix
  frontend-webserver/src/game/TutorialScene.js
Due: buildweb, buildserver, deployfront

parsing data for marketplace
  .gitignore
  backend-webserver/app/Marketplace.js
Due: buildback, deployback

tutorial changes
  frontend-webserver/src/game/TutorialScene.js
Due: buildweb, buildserver, deployfront

Update Marketplace.js
  backend-webserver/app/Marketplace.js
Due: buildback, deployback

removing console logs
  frontend-webserver/src/components/Navbar.jsx
  frontend-webserver/src/game/BeginningScene.js
  frontend-webserver/src/game/BeginningScene2.js
  frontend-webserver/src/game/CatchModal.js
  frontend-webserver/src/game/ChatScene.js
  frontend-webserver/src/game/ShopScene.js
  frontend-webserver/src/game/TutorialScene.js
Due: buildweb, buildserver, deployfront

fixing not able to cancel and relist item
  backend-webserver/routes.js
  blockchain/contracts/IPNFT.sol
  blockchain/contracts/PoseidonMarket.sol
  blockchain/contracts/PoseidonNFT.sol
Due: buildback, deployback

fixing cancel not working
  backend-webserver/app/Marketplace.js
Due: buildback, deployback

improving message verifying
  backend-webserver/app/ERC721.js
  backend-webserver/middleware/verifyMessage.js
  backend-webserver/routes.js
  frontend-webserver/server/server.js
Due: buildweb, buildserver, deployfront, buildback, deployback

NFTs update, teleporting changes
  frontend-webserver/public/game/assets/boat.png
  frontend-webserver/public/game/assets/nfts.png
  frontend-webserver/server/server.js
  frontend-webserver/src/game/BeginningScene.js
  frontend-webserver/src/game/BeginningScene2.js
  frontend-webserver/src/game/Boat.js
  frontend-webserver/src/game/CatchModal.js
  frontend-webserver/src/game/InventoryScene.js
  frontend-webserver/src/game/NFTs.js
  frontend-webserver/src/game/NFTsDisplay.js
  frontend-webserver/src/game/Player.js
  frontend-webserver/src/game/TutorialScene.js
  frontend-webserver/src/game/game.js
Due: buildweb, buildserver, deployfront

update
  backend-webserver/ABI/GameItem.json
  backend-webserver/ABI/PoseidonMarket.json
  backend-webserver/ABI/PoseidonNFT.json
  backend-webserver/ABI/PoseidonToken.json
  backend-webserver/app/Marketplace.js
  frontend-webserver/src/index.css
  frontend-webserver/src/styles.css
Due: buildweb, buildserver, deployfront, buildback, deployback

login page change
  backend-webserver/game/gameitems/NFTs/metadata/nft_1.json
  backend-webserver/game/gameitems/NFTs/metadata/nft_10.json
  backend-webserver/game/gameitems/NFTs/metadata/nft_11.json
  backend-webserver/game/gameitems/NFTs/metadata/nft_12.json
  backend-webserver/game/gameitems/NFTs/metadata/nft_13.json
  backend-webserver/game/gameitems/NFTs/metadata/nft_14.json
  backend-webserver/game/gameitems/NFTs/metadata/nft_15.json
  backend-webserver/game/gameitems/NFTs/metadata/nft_16.json
  backend-webserver/game/gameitems/NFTs/metadata/nft_17.json
  backend-webserver/game/gameitems/NFTs/metadata/nft_18.json
  backend-webserver/game/gameitems/NFTs/metadata/nft_19.json
  backend-webserver/game/gameitems/NFTs/metadata/nft_2.json
  backend-webserver/game/gameitems/NFTs/metadata/nft_20.json
  backend-webserver/game/gameitems/NFTs/metadata/nft_21.json
  backend-webserver/game/gameitems/NFTs/metadata/nft_22.json
  backend-webserver/game/gameitems/NFTs/metadata/nft_23.json
  backend-webserver/game/gameitems/NFTs/metadata/nft_24.json
  backend-webserver/game/gameitems/NFTs/metadata/nft_25.json
  backend-webserver/game/gameitems/NFTs/metadata/nft_26.json
  backend-webserver/game/gameitems/NFTs/metadata/nft_27.json
  backend-webserver/game/gameitems/NFTs/metadata/nft_28.json
  backend-webserver/game/gameitems/NFTs/metadata/nft_29.json
  backend-webserver/game/gameitems/NFTs/metadata/nft_3.json
  backend-webserver/game/gameitems/NFTs/metadata/nft_30.json
  backend-webserver/game/gameitems/NFTs/metadata/nft_31.json
  backend-webserver/game/gameitems/NFTs/metadata/nft_32.json
  backend-webserver/game/gameitems/NFTs/metadata/nft_33.json
  backend-webserver/game/gameitems/NFTs/metadata/nft_34.json
  backend-webserver/game/gameitems/NFTs/metadata/nft_35.json
  backend-webserver/game/gameitems/NFTs/metadata/nft_36.json
  backend-webserver/game/gameitems/NFTs/metadata/nft_4.json
  backend-webserver/game/gameitems/NFTs/metadata/nft_5.json
  backend-webserver/game/gameitems/NFTs/metadata/nft_6.json
  backend-webserver/game/gameitems/NFTs/metadata/nft_7.json
  backend-webserver/game/gameitems/NFTs/metadata/nft_8.json
  backend-webserver/game/gameitems/NFTs/metadata/nft_9.json
  frontend-webserver/src/pages/Login.jsx
Due: buildweb, buildserver, deployfront, buildback, deployback

Adding NFT stats to player
  frontend-webserver/src/game/BeginningScene.js
  frontend-webserver/src/game/BeginningScene2.js
  frontend-webserver/src/game/CatchModal.js
Due: buildweb, buildserver, deployfront

testing bug
  frontend-webserver/src/game/BeginningScene.js
Due: buildweb, buildserver, deployfront

test
  frontend-webserver/src/game/BeginningScene.js
Due: buildweb, buildserver, deployfront

checking data
  frontend-webserver/src/game/BeginningScene.js
Due: buildweb, buildserver, deployfront

bug fix
  frontend-webserver/src/game/BeginningScene.js
Due: buildweb, buildserver, deployfront

testing why fishing speed is null
  frontend-webserver/src/game/BeginningScene.js
Due: buildweb, buildserver, deployfront

problem fixed
  frontend-webserver/src/game/BeginningScene.js
  frontend-webserver/src/game/Player.js
Due: buildweb, buildserver, deployfront

Verification of the messages
  backend-webserver/middleware/verifyMessage.js
  backend-webserver/routes.js
Due: buildback, deployback

Implemented marketplace, my listings, my nfts, claim tokens pages. Fixed lazy loading, integrated dynamic routes...
  frontend-webserver/index.html
  frontend-webserver/src/App.jsx
  frontend-webserver/src/components/Market/MarketCard.jsx
  frontend-webserver/src/components/Market/MarketCards.jsx
  frontend-webserver/src/components/Market/MarketContext.jsx
  frontend-webserver/src/components/Market/MarketListingDetails.jsx
  frontend-webserver/src/components/Market/MyListingCard.jsx
  frontend-webserver/src/components/Market/MyListingCards.jsx
  frontend-webserver/src/components/Market/MyListingDetails.jsx
  frontend-webserver/src/components/Market/MyNFTsCard.jsx
  frontend-webserver/src/components/Market/MyNFTsCards.jsx
  frontend-webserver/src/components/Market/MyTokenDetails.jsx
  frontend-webserver/src/components/Market/PricePopup.jsx
  frontend-webserver/src/components/Market/UpdatePricePopup.jsx
  frontend-webserver/src/components/Market/data.json
  frontend-webserver/src/components/Market/useLazyLoad.jsx
  frontend-webserver/src/components/Navbar.jsx
  frontend-webserver/src/components/ProfileDropdown.jsx
  frontend-webserver/src/components/index.js
  frontend-webserver/src/constants/index.js
  frontend-webserver/src/pages/ClaimTokens.jsx
  frontend-webserver/src/pages/Market.jsx
  frontend-webserver/src/pages/MyListings.jsx
  frontend-webserver/src/pages/MyNFTs.jsx
  frontend-webserver/src/pages/index.js
  frontend-webserver/src/styles.css
Due: buildweb, buildserver, deployfront

Weekly timelogs
  timelogs/Toggl_Track_summary_report_2023-05-15_2023-05-22.pdf
Due: none

fixing bug with buy function
  blockchain/contracts/PoseidonMarket.sol
  blockchain/package.json
Due: none

fixing market cancel listing bug
  blockchain/contracts/PoseidonMarket.sol
Due: none

fixing typo
  blockchain/contracts/PoseidonMarket.sol
Due: none

another typo
  blockchain/contracts/PoseidonMarket.sol
Due: none

fixing bug
  backend-webserver/app/Marketplace.js
Due: buildback, deployback

syncing game with market
  backend-webserver/app/Marketplace.js
Due: buildback, deployback

syncing listing cancling and buying with game
  backend-webserver/app/Marketplace.js
Due: buildback, deployback

Path conditions:
  buildweb: any of: frontend-webserver/**/*
  buildserver: any of: frontend-webserver/**/*
  deployfront: any of: frontend-webserver/**/*
  buildback: any of: backend-webserver/**/*
  deployback: any of: backend-webserver/**/*
