Repository dbaronas/Blockchain-Game: changes, and which GitLab CI jobs are due for each by the changed paths.
All: buildweb, buildserver, deployfront, buildback, deployback

buildweb:
  stage: build_web_stage
  before_script:
  - cd frontend-webserver
  script:
  - node --version
  - npm ci
  - npm run build
  artifacts:
    paths:
    - frontend-webserver/build
  cache:
    paths:
    - frontend-webserver/node_modules/
    - frontend-webserver/package-lock.json
    policy: pull-push
  tags:
  - local_runner

buildserver:
  stage: build_server_stage
  before_script:
  - cd frontend-webserver/server
  script:
  - node --version
  - npm ci
  cache:
    paths:
    - frontend-webserver/server/node_modules/
    - frontend-webserver/server/package-lock.json
    policy: pull-push
  tags:
  - local_runner

deployfront:
  stage: deploy_frontend_stage
  before_script:
  - cd frontend-webserver/server
  script:
  - pm2 start ecosystem.config.js
  cache:
    paths:
    - frontend-webserver/server/node_modules/
    - frontend-webserver/server/package-lock.json
    policy: pull-push
  tags:
  - local_runner

buildback:
  stage: build_backend_stage
  before_script:
  - cd backend-webserver
  script:
  - node --version
  - npm ci
  cache:
    paths:
    - backend-webserver/node_modules/
    - backend-webserver/package-lock.json
    policy: pull-push
  tags:
  - local-runner2

deployback:
  stage: deploy_backend_stage
  before_script:
  - cd backend-webserver
  script:
  - pm2 start ecosystem.config.js
  cache:
    paths:
    - backend-webserver/node_modules/
    - backend-webserver/package-lock.json
    policy: pull-push
  tags:
  - local-runner2

fixing bug
  blockchain/contracts/PoseidonMarket.sol
Due: none

Update PoseidonMarket.sol
  blockchain/contracts/PoseidonMarket.sol
Due: none

enabling tutorial
  frontend-webserver/src/components/RegisterPopup.jsx
Due: buildweb, buildserver, deployfront

Fixed bugs
  frontend-webserver/src/components/Market/MarketListingDetails.jsx
  frontend-webserver/src/components/Market/MyListingDetails.jsx
  frontend-webserver/src/components/Market/PricePopup.jsx
  frontend-webserver/src/components/Market/UpdatePricePopup.jsx
Due: buildweb, buildserver, deployfront

Resized button
  frontend-webserver/src/components/Market/MyTokenDetails.jsx
Due: buildweb, buildserver, deployfront

Fixed claim tokens page
  frontend-webserver/src/pages/ClaimTokens.jsx
Due: buildweb, buildserver, deployfront

Game bug fixes
  frontend-webserver/server/server.js
  frontend-webserver/src/game/BeginningScene.js
  frontend-webserver/src/game/BeginningScene2.js
  frontend-webserver/src/game/InventoryScene.js
Due: buildweb, buildserver, deployfront

Shopscene update
  frontend-webserver/src/game/ShopScene.js
Due: buildweb, buildserver, deployfront

fix
  frontend-webserver/src/game/BeginningScene.js
  frontend-webserver/src/game/BeginningScene2.js
Due: buildweb, buildserver, deployfront

balance of our token
  backend-webserver/app/ERC20.js
  backend-webserver/app/index.js
  backend-webserver/routes.js
Due: buildback, deployback

Adding new modules for icons and global state
  frontend-webserver/node_modules/.package-lock.json
  frontend-webserver/package-lock.json
  frontend-webserver/package.json
Due: buildweb, buildserver, deployfront

Added rendering of error messages and loading bar for all transaction types, implemented a validation of user balance
  frontend-webserver/src/components/Market/Alert.jsx
  frontend-webserver/src/components/Market/LoadingPopup.jsx
  frontend-webserver/src/components/Market/MarketListingDetails.jsx
  frontend-webserver/src/components/Market/MyListingDetails.jsx
  frontend-webserver/src/components/Market/MyTokenDetails.jsx
  frontend-webserver/src/components/Market/NotificationManagement.jsx
  frontend-webserver/src/components/Market/PricePopup.jsx
  frontend-webserver/src/components/Market/UpdatePricePopup.jsx
  frontend-webserver/src/pages/ClaimTokens.jsx
Due: buildweb, buildserver, deployfront

Spinning animation
  frontend-webserver/src/styles.css
Due: buildweb, buildserver, deployfront

updating website
  frontend-webserver/src/assets/card.png
  frontend-webserver/src/assets/index.js
  frontend-webserver/src/assets/people05.jpg
  frontend-webserver/src/assets/people06.jpg
  frontend-webserver/src/components/Clients.jsx
  frontend-webserver/src/components/MarketButton.jsx
  frontend-webserver/src/components/index.js
  frontend-webserver/src/constants/index.js
  frontend-webserver/src/pages/Main.jsx
  frontend-webserver/src/translations/English/translation.json
  frontend-webserver/src/translations/French/translation.json
  frontend-webserver/src/translations/Lithuanian/translation.json
  frontend-webserver/src/translations/Spanish/translation.json
Due: buildweb, buildserver, deployfront

do not execute function if params are missing
  backend-webserver/app/ERC20.js
  backend-webserver/app/ERC721.js
  backend-webserver/app/Marketplace.js
Due: buildback, deployback

Replaced Mint NFT page to Play Now
  frontend-webserver/src/App.jsx
  frontend-webserver/src/constants/index.js
Due: buildweb, buildserver, deployfront

fixing bug with listindid 0
  backend-webserver/app/Marketplace.js
Due: buildback, deployback

level requirement for another island
  frontend-webserver/src/game/BeginningScene.js
Due: buildweb, buildserver, deployfront

deleting console.logs
  frontend-webserver/src/components/Market/MarketCards.jsx
  frontend-webserver/src/components/Market/MarketListingDetails.jsx
  frontend-webserver/src/components/Market/MyListingCards.jsx
  frontend-webserver/src/components/Market/MyListingDetails.jsx
  frontend-webserver/src/components/Market/MyNFTsCards.jsx
  frontend-webserver/src/components/Market/PricePopup.jsx
  frontend-webserver/src/components/Market/UpdatePricePopup.jsx
  frontend-webserver/src/components/Navbar.jsx
  frontend-webserver/src/pages/ClaimTokens.jsx
  frontend-webserver/src/pages/Market.jsx
  frontend-webserver/src/pages/MyListings.jsx
  frontend-webserver/src/pages/MyNFTs.jsx
Due: buildweb, buildserver, deployfront

Button translation
  frontend-webserver/src/translations/English/translation.json
  frontend-webserver/src/translations/French/translation.json
  frontend-webserver/src/translations/Lithuanian/translation.json
  frontend-webserver/src/translations/Spanish/translation.json
Due: buildweb, buildserver, deployfront

Translations
  frontend-webserver/src/translations/English/translation.json
  frontend-webserver/src/translations/French/translation.json
  frontend-webserver/src/translations/Lithuanian/translation.json
  frontend-webserver/src/translations/Spanish/translation.json
Due: buildweb, buildserver, deployfront

Update ClaimTokens.jsx
  frontend-webserver/src/pages/ClaimTokens.jsx
Due: buildweb, buildserver, deployfront

Responsive design
  frontend-webserver/src/components/Market/MarketListingDetails.jsx
  frontend-webserver/src/components/Market/MyListingDetails.jsx
  frontend-webserver/src/components/Market/MyTokenDetails.jsx
Due: buildweb, buildserver, deployfront

Removing console logs
  frontend-webserver/src/components/Market/MarketListingDetails.jsx
  frontend-webserver/src/components/Market/MyListingDetails.jsx
Due: buildweb, buildserver, deployfront

Changes
  frontend-webserver/src/components/Authentication.jsx
  frontend-webserver/src/components/Market/MarketListingDetails.jsx
  frontend-webserver/src/components/Market/MyListingDetails.jsx
  frontend-webserver/src/components/Market/PricePopup.jsx
  frontend-webserver/src/components/Market/UpdatePricePopup.jsx
  frontend-webserver/src/pages/ClaimTokens.jsx
  frontend-webserver/src/pages/Market.jsx
  frontend-webserver/src/pages/MyListings.jsx
  frontend-webserver/src/pages/MyNFTs.jsx
Due: buildweb, buildserver, deployfront

Initial commit
  README.md
Due: none

Submitted documentation
  MetaOcean Documentation.pdf
  README.md
  README.md.bak
Due: none

Delete README.md.bak
  README.md.bak
Due: none

Update README.md
  README.md
Due: none

Path conditions:
  buildweb: any of: frontend-webserver/**/*
  buildserver: any of: frontend-webserver/**/*
  deployfront: any of: frontend-webserver/**/*
  buildback: any of: backend-webserver/**/*
  deployback: any of: backend-webserver/**/*
