Repository dbaronas/Blockchain-Game: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build, deploy, build2, deploy2

build:
  stage: build_stage
  cache:
    key:
      files:
      - package-lock.json
      prefix: npm
    paths:
    - node_modules/
  before_script:
  - cd frontend-webserver
  script:
  - node --version
  - npm i
  - npm run build
  tags:
  - local_runner

deploy:
  stage: deploy_stage
  before_script:
  - cd frontend-webserver/server
  script:
  - npm i
  - pm2 start ecosystem.config.js
  cache:
    key: $CI_COMMIT_REF_SLUG
    policy: pull
    paths:
    - node_modules/
    - package-lock.json
  tags:
  - local_runner

build2:
  stage: build_stage2
  before_script:
  - cd backend-webserver
  script:
  - node --version
  - npm i
  cache:
    key: $CI_COMMIT_REF_SLUG
    policy: push
    paths:
    - node_modules/
    - package-lock.json
  tags:
  - local-runner2

deploy2:
  stage: deploy_stage2
  before_script:
  - cd backend-webserver
  script:
  - pm2 start ecosystem.config.js
  cache:
    key: $CI_COMMIT_REF_SLUG
    policy: pull
    paths:
    - node_modules/
    - package-lock.json
  tags:
  - local-runner2

changes
  backend-webserver/.env
  backend-webserver/middleware/auth.js
  backend-webserver/routes.js
Due: build2, deploy2

changes
  frontend-webserver/server/.env
Due: none

removing checkUser func
  backend-webserver/app/Auth.js
  backend-webserver/routes.js
Due: build2, deploy2

Update Auth.js
  backend-webserver/app/Auth.js
Due: none

fixing bug
  backend-webserver/routes.js
Due: build2, deploy2

updating marketplace backend solution
  backend-webserver/ABI/GameItem.json
  backend-webserver/ABI/PoseidonMarket.json
  backend-webserver/ABI/PoseidonNFT.json
  backend-webserver/ABI/PoseidonToken.json
  backend-webserver/app/Auth.js
  backend-webserver/app/Database.js
  backend-webserver/app/ERC20.js
  backend-webserver/app/ERC721.js
  backend-webserver/app/Game.js
  backend-webserver/app/Marketplace.js
  backend-webserver/middleware/auth.js
  backend-webserver/middleware/permissions.js
  backend-webserver/routes.js
  backend-webserver/server.js
  blockchain/contracts/IPSD.sol
  blockchain/contracts/PoseidonMarket.sol
  blockchain/contracts/PoseidonNFT.sol
Due: build2, deploy2

Update index.js
  frontend-webserver/src/constants/index.js
Due: none

Game updates, shop scene, rooms, npc interaction, 2nd scene
  frontend-webserver/public/game/assets/fishing_rods/fr_1.png
  frontend-webserver/public/game/assets/fishing_rods/fr_2.png
  frontend-webserver/public/game/assets/fishing_rods/fr_3.png
  frontend-webserver/public/game/assets/fishing_rods/fr_4.png
  frontend-webserver/public/game/assets/tileset2.png
  frontend-webserver/server/server.js
  frontend-webserver/src/game/BeginningScene2.js
  frontend-webserver/src/game/Inventory.js
  frontend-webserver/src/game/InventoryScene.js
  frontend-webserver/src/game/Items.js
  frontend-webserver/src/game/NPC.js
  frontend-webserver/src/game/Player.js
  frontend-webserver/src/game/ShopScene.js
  frontend-webserver/src/game/game.js
Due: none

Selected item position change
  frontend-webserver/src/game/Player.js
Due: none

Update Database.js
  backend-webserver/app/Database.js
Due: none

Submission of weekly timelogs
  timelogs/Toggl_Track_summary_report_2023-03-27_2023-04-03.pdf
Due: none

Submission of meeting notes
  meetings/Meeting_2023-04-02.pdf
Due: none

token verification in backend
  backend-webserver/.env
  backend-webserver/app/Auth.js
  backend-webserver/middleware/auth.js
  backend-webserver/routes.js
Due: build2, deploy2

Update .env
  backend-webserver/.env
Due: build2, deploy2

global chat implementation
  frontend-webserver/public/game/assets/chat_input.html
  frontend-webserver/server/server.js
  frontend-webserver/src/game/BeginningScene.js
  frontend-webserver/src/game/ChatScene.js
  frontend-webserver/src/game/game.js
Due: none

global chat improvements
  frontend-webserver/src/game/ChatScene.js
Due: none

fixing t letter not working
  frontend-webserver/src/game/ChatScene.js
Due: none

fixing socket bug
  frontend-webserver/server/server.js
  frontend-webserver/src/game/ChatScene.js
Due: none

global chat formatting and scrolling
  frontend-webserver/src/game/ChatScene.js
Due: none

fixing some chat bugs
  frontend-webserver/src/game/BeginningScene.js
  frontend-webserver/src/game/BeginningScene2.js
  frontend-webserver/src/game/ChatScene.js
Due: none

removeing console.log
  frontend-webserver/src/game/ChatScene.js
Due: none

adding profanity filter
  frontend-webserver/server/package-lock.json
  frontend-webserver/server/package.json
  frontend-webserver/server/server.js
Due: none

Implementation of functionality to store the JWT token in a cookie
  backend-webserver/app/Auth.js
  backend-webserver/node_modules/.package-lock.json
  backend-webserver/node_modules/cookie-parser/HISTORY.md
  backend-webserver/node_modules/cookie-parser/LICENSE
  backend-webserver/node_modules/cookie-parser/README.md
  backend-webserver/node_modules/cookie-parser/index.js
  backend-webserver/node_modules/cookie-parser/node_modules/cookie/HISTORY.md
  backend-webserver/node_modules/cookie-parser/node_modules/cookie/LICENSE
  backend-webserver/node_modules/cookie-parser/node_modules/cookie/README.md
  backend-webserver/node_modules/cookie-parser/node_modules/cookie/index.js
  backend-webserver/node_modules/cookie-parser/node_modules/cookie/package.json
  backend-webserver/node_modules/cookie-parser/package.json
  backend-webserver/package-lock.json
  backend-webserver/package.json
  backend-webserver/server.js
Due: build2, deploy2

sending jwt in cookie fix
  backend-webserver/app/Auth.js
  frontend-webserver/src/assets/index.js
  frontend-webserver/src/assets/people04.png
  frontend-webserver/src/constants/index.js
Due: none

jwt auth
  backend-webserver/app/Auth.js
Due: none

cors
  backend-webserver/app/Auth.js
  backend-webserver/server.js
Due: build2, deploy2

cors
  backend-webserver/server.js
Due: build2, deploy2

cors
  backend-webserver/app/Auth.js
Due: none

Implemented web3 wallet connect and authentication
  frontend-webserver/index.html
  frontend-webserver/node_modules/qs/.eslintrc
  frontend-webserver/node_modules/qs/CHANGELOG.md
  frontend-webserver/node_modules/qs/README.md
  frontend-webserver/node_modules/qs/dist/qs.js
  frontend-webserver/node_modules/qs/lib/stringify.js
  frontend-webserver/node_modules/qs/package.json
  frontend-webserver/node_modules/qs/test/stringify.js
  frontend-webserver/package-lock.json
  frontend-webserver/package.json
  frontend-webserver/src/components/ConnectButton.jsx
  frontend-webserver/src/components/Navbar.jsx
  frontend-webserver/src/components/RegisterPopup.jsx
  frontend-webserver/src/constants/index.js
  frontend-webserver/src/pages/Market.jsx
  frontend-webserver/src/pages/index.js
Due: build, deploy

Updated package-lock
  frontend-webserver/node_modules/.package-lock.json
Due: none

cors
  backend-webserver/app/Auth.js
  backend-webserver/server.js
  frontend-webserver/src/pages/Market.jsx
Due: build2, deploy2

jwt saving in cookie
  backend-webserver/node_modules/.package-lock.json
  backend-webserver/node_modules/cookie-parser/HISTORY.md
  backend-webserver/node_modules/cookie-parser/LICENSE
  backend-webserver/node_modules/cookie-parser/README.md
  backend-webserver/node_modules/cookie-parser/index.js
  backend-webserver/node_modules/cookie-parser/node_modules/cookie/HISTORY.md
  backend-webserver/node_modules/cookie-parser/node_modules/cookie/LICENSE
  backend-webserver/node_modules/cookie-parser/node_modules/cookie/README.md
  backend-webserver/node_modules/cookie-parser/node_modules/cookie/index.js
  backend-webserver/node_modules/cookie-parser/node_modules/cookie/package.json
  backend-webserver/node_modules/cookie-parser/package.json
  backend-webserver/package-lock.json
  backend-webserver/package.json
  backend-webserver/server.js
  frontend-webserver/src/pages/Market.jsx
Due: build2, deploy2

Path conditions:
  build: any of: frontend-webserver/*
  deploy: any of: frontend-webserver/*
  build2: any of: backend-webserver/*
  deploy2: any of: backend-webserver/*
