Repository dbaronas/Blockchain-Game: changes, and which GitLab CI jobs are due for each by the changed paths.
All: buildweb, buildserver, deployfront, buildback, deployback

buildweb:
  stage: build_web_stage
  before_script:
  - cd frontend-webserver
  script:
  - node --version
  - npm ci
  - npm run build
  artifacts:
    paths:
    - frontend-webserver/build
  cache:
    paths:
    - frontend-webserver/node_modules/
    - frontend-webserver/package-lock.json
    policy: pull-push
  tags:
  - local_runner

buildserver:
  stage: build_server_stage
  before_script:
  - cd frontend-webserver/server
  script:
  - node --version
  - npm ci
  cache:
    paths:
    - frontend-webserver/server/node_modules/
    - frontend-webserver/server/package-lock.json
    policy: pull-push
  tags:
  - local_runner

deployfront:
  stage: deploy_frontend_stage
  before_script:
  - cd frontend-webserver/server
  script:
  - pm2 start ecosystem.config.js
  cache:
    paths:
    - frontend-webserver/server/node_modules/
    - frontend-webserver/server/package-lock.json
    policy: pull-push
  tags:
  - local_runner

buildback:
  stage: build_backend_stage
  before_script:
  - cd backend-webserver
  script:
  - node --version
  - npm ci
  cache:
    paths:
    - backend-webserver/node_modules/
    - backend-webserver/package-lock.json
    policy: pull-push
  tags:
  - local-runner2

deployback:
  stage: deploy_backend_stage
  before_script:
  - cd backend-webserver
  script:
  - pm2 start ecosystem.config.js
  cache:
    paths:
    - backend-webserver/node_modules/
    - backend-webserver/package-lock.json
    policy: pull-push
  tags:
  - local-runner2

Saving coins, updating socket inventory after selling items
  frontend-webserver/server/server.js
  frontend-webserver/src/game/BeginningScene.js
  frontend-webserver/src/game/BeginningScene2.js
  frontend-webserver/src/game/Inventory.js
  frontend-webserver/src/game/InventoryScene.js
  frontend-webserver/src/game/ShopScene.js
Due: buildweb, buildserver, deployfront

Register popup style improvements
  frontend-webserver/src/assets/oceantheme.jpg
  frontend-webserver/src/components/RegisterPopup.jsx
  frontend-webserver/src/styles.css
Due: buildweb, buildserver, deployfront

Item updates, can sell different set of fishes for different NPCs
  frontend-webserver/public/game/assets/items.png
  frontend-webserver/src/game/BeginningScene.js
  frontend-webserver/src/game/BeginningScene2.js
  frontend-webserver/src/game/InventoryScene.js
  frontend-webserver/src/game/Items.js
  frontend-webserver/src/game/ShopScene.js
Due: buildweb, buildserver, deployfront

changes
  frontend-webserver/server/server.js
  frontend-webserver/src/constants/index.js
  frontend-webserver/src/game/Player.js
Due: buildweb, buildserver, deployfront

reverting
  frontend-webserver/server/server.js
  frontend-webserver/src/game/Player.js
Due: buildweb, buildserver, deployfront

ShopScene bug fix
  frontend-webserver/src/game/ShopScene.js
Due: buildweb, buildserver, deployfront

contract changes
  blockchain/contracts/gameItem.sol
  blockchain/db/000003.log
  blockchain/db/CURRENT
  blockchain/db/LOCK
  blockchain/db/LOG
  blockchain/db/MANIFEST-000002
Due: none

Update PoseidonNFT.sol
  blockchain/contracts/PoseidonNFT.sol
Due: none

polishing blockchain
  backend-webserver/game/gameitems/NFTs/metadata/fr_2.json
  backend-webserver/game/gameitems/NFTs/metadata/fr_4.json
  backend-webserver/game/gameitems/SFTs/metadata/fr_1.json
  backend-webserver/game/gameitems/SFTs/metadata/fr_3.json
  backend-webserver/routes.js
  blockchain/ecosystem.config.js
  blockchain/node_modules/.package-lock.json
  blockchain/package-lock.json
  blockchain/package.json
Due: buildback, deployback

changing rods for testing
  backend-webserver/game/gameitems/NFTs/item/fr_1.png
  backend-webserver/game/gameitems/NFTs/item/fr_3.png
  backend-webserver/game/gameitems/NFTs/metadata/fr_1.json
  backend-webserver/game/gameitems/NFTs/metadata/fr_3.json
Due: buildback, deployback

fixes
  backend-webserver/game/gameitems/NFTs/item/fr_2.png
  backend-webserver/game/gameitems/NFTs/item/fr_3.png
  backend-webserver/game/gameitems/NFTs/metadata/fr_2.json
  backend-webserver/game/gameitems/NFTs/metadata/fr_3.json
Due: buildback, deployback

fixing bugs
  backend-webserver/game/gameitems/NFTs/metadata/fr_1.json
  backend-webserver/game/gameitems/NFTs/metadata/fr_2.json
  backend-webserver/game/gameitems/NFTs/metadata/fr_3.json
Due: buildback, deployback

fixes
  backend-webserver/game/gameitems/NFTs/item/fr_3.png
  backend-webserver/game/gameitems/NFTs/item/fr_4.png
  backend-webserver/game/gameitems/NFTs/metadata/fr_3.json
  backend-webserver/game/gameitems/NFTs/metadata/fr_4.json
Due: buildback, deployback

console.log comments
  frontend-webserver/src/game/BeginningScene.js
  frontend-webserver/src/game/BeginningScene2.js
Due: buildweb, buildserver, deployfront

Minting changes
  frontend-webserver/server/server.js
  frontend-webserver/src/game/CatchModal.js
Due: buildweb, buildserver, deployfront

Update server.js
  frontend-webserver/server/server.js
Due: buildweb, buildserver, deployfront

Username validation
  frontend-webserver/src/components/RegisterPopup.jsx
Due: buildweb, buildserver, deployfront

Update RegisterPopup.jsx
  frontend-webserver/src/components/RegisterPopup.jsx
Due: buildweb, buildserver, deployfront

Update ShopScene.js
  frontend-webserver/src/game/ShopScene.js
Due: buildweb, buildserver, deployfront

renaming leftover components
  frontend-webserver/src/components/AboutGame.jsx
  frontend-webserver/src/components/MarketplaceBar.jsx
  frontend-webserver/src/components/NFTs.jsx
  frontend-webserver/src/components/PatchNotes.jsx
  frontend-webserver/src/components/index.js
  frontend-webserver/src/pages/Main.jsx
Due: buildweb, buildserver, deployfront

NFT market lazy loading, responsive design for real cards and loading cards
  frontend-webserver/src/App.jsx
  frontend-webserver/src/components/Market/Card.jsx
  frontend-webserver/src/components/Market/Cards.jsx
  frontend-webserver/src/components/Market/LoadingCards.jsx
  frontend-webserver/src/components/Market/data.json
  frontend-webserver/src/components/Market/useLazyLoad.jsx
  frontend-webserver/src/components/Market/useWindowSize.jsx
  frontend-webserver/src/pages/Market.jsx
  frontend-webserver/src/pages/index.js
  frontend-webserver/src/styles.css
Due: buildweb, buildserver, deployfront

installed clsx package for lazy loading
  frontend-webserver/package-lock.json
  frontend-webserver/package.json
Due: buildweb, buildserver, deployfront

Revert "NFT market lazy loading, responsive design for real cards and loading cards"
  frontend-webserver/src/App.jsx
  frontend-webserver/src/components/Market/Card.jsx
  frontend-webserver/src/components/Market/Cards.jsx
  frontend-webserver/src/components/Market/LoadingCards.jsx
  frontend-webserver/src/components/Market/data.json
  frontend-webserver/src/components/Market/useLazyLoad.jsx
  frontend-webserver/src/components/Market/useWindowSize.jsx
  frontend-webserver/src/pages/Market.jsx
  frontend-webserver/src/pages/index.js
  frontend-webserver/src/styles.css
Due: buildweb, buildserver, deployfront

preliminary message signing when minting nft
  frontend-webserver/server/server.js
  frontend-webserver/src/game/CatchModal.js
Due: buildweb, buildserver, deployfront

verifying signed message
  backend-webserver/app/ERC721.js
  backend-webserver/middleware/verifyMessage.js
Due: buildback, deployback

renaming function
  backend-webserver/app/ERC721.js
Due: buildback, deployback

Resubmission of NFT market and lazy loading
  frontend-webserver/src/App.jsx
  frontend-webserver/src/components/Market/Card.jsx
  frontend-webserver/src/components/Market/Cards.jsx
  frontend-webserver/src/components/Market/LoadingCards.jsx
  frontend-webserver/src/components/Market/data.json
  frontend-webserver/src/components/Market/useLazyLoad.jsx
  frontend-webserver/src/components/Market/useWindowSize.jsx
  frontend-webserver/src/pages/Market.jsx
  frontend-webserver/src/pages/index.js
  frontend-webserver/src/styles.css
Due: buildweb, buildserver, deployfront

Revert "Merge branch 'master' of https://git.mif.vu.lt/mamu8341/blockchaingame"
  backend-webserver/app/ERC721.js
  backend-webserver/middleware/verifyMessage.js
Due: buildback, deployback

Revert "Resubmission of NFT market and lazy loading"
  frontend-webserver/src/App.jsx
  frontend-webserver/src/components/Market/Card.jsx
  frontend-webserver/src/components/Market/Cards.jsx
  frontend-webserver/src/components/Market/LoadingCards.jsx
  frontend-webserver/src/components/Market/data.json
  frontend-webserver/src/components/Market/useLazyLoad.jsx
  frontend-webserver/src/components/Market/useWindowSize.jsx
  frontend-webserver/src/pages/Market.jsx
  frontend-webserver/src/pages/index.js
  frontend-webserver/src/styles.css
Due: buildweb, buildserver, deployfront

message signing with nonce
  backend-webserver/app/Database.js
  backend-webserver/app/ERC721.js
  backend-webserver/middleware/verifyMessage.js
  frontend-webserver/server/server.js
  frontend-webserver/src/game/CatchModal.js
Due: buildweb, buildserver, deployfront, buildback, deployback

something
  backend-webserver/app/ERC721.js
Due: buildback, deployback

Update verifyMessage.js
  backend-webserver/middleware/verifyMessage.js
Due: buildback, deployback

fixing coding mistake
  backend-webserver/middleware/verifyMessage.js
Due: buildback, deployback

error catching if something is missing in body
  backend-webserver/app/ERC721.js
Due: buildback, deployback

modules for market
  frontend-webserver/node_modules/.package-lock.json
  frontend-webserver/package-lock.json
Due: buildweb, buildserver, deployfront

Fixing typo mistake
  frontend-webserver/src/components/Market/Cards.jsx
Due: buildweb, buildserver, deployfront

Submission of meeting notes
  meetings/Meeting 2023-05-09.pdf
Due: none

Submission of weekly timelogs
  timelogs/Toggl_Track_summary_report_2023-04-24_2023-05-01.pdf
  timelogs/Toggl_Track_summary_report_2023-05-01_2023-05-08.pdf
Due: none

Game updates, simple leveling system
  frontend-webserver/server/server.js
  frontend-webserver/src/game/BeginningScene.js
  frontend-webserver/src/game/BeginningScene2.js
  frontend-webserver/src/game/InventoryScene.js
  frontend-webserver/src/game/Items.js
  frontend-webserver/src/game/Player.js
  frontend-webserver/src/game/ShopScene.js
Due: buildweb, buildserver, deployfront

Path conditions:
  buildweb: any of: frontend-webserver/**/*
  buildserver: any of: frontend-webserver/**/*
  deployfront: any of: frontend-webserver/**/*
  buildback: any of: backend-webserver/**/*
  deployback: any of: backend-webserver/**/*
